---
---

<div class="menu">
  <ul id="menu-container" role="menu">
    <li>Home</li>
    <li>About</li>
    <li>Links</li>
  </ul>
</div>

<style lang="scss">
  .menu {
    position: absolute;
    bottom: 80px;
    left: -300px;
    transform: rotate(30deg);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 32px;
      flex-direction: column;

      font-size: 24px;
    }
  }
</style>
