---
// accessible menu items: https://accessibleit.disability.illinois.edu/courses/aria-intro/slide30.html
---

<menu-button>
  <button
    type="button"
    class="button"
    aria-haspopup="true"
    aria-controls="menu-container"
    aria-expanded="false"
  >
    <div class="icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
</menu-button>

<style is:global>
  main {
    transition: transform 0.5s ease-in-out;
    transform-origin: left top;
  }

  .is-open {
    transform: rotate(-30deg);
  }
</style>

<style lang="scss">
  @use "sass:math";

  .button {
    $base-size: 150px;

    background-color: #f68f11;
    color: white;
    position: fixed;
    top: -#{math.div($base-size, 2)};
    left: -#{math.div($base-size, 2)};
    border-radius: 50%;
    width: $base-size;
    height: $base-size;
    cursor: pointer;
    border: 0;

    &:hover {
      background-color: lighten(#f68f11, 5%);
    }
  }

  .icon {
    position: fixed;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;

    span {
      background: #000;
      border-radius: 10px;
      height: 3.5px;
      margin: 3.5px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }
  }

  .button[aria-expanded="true"] span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 0px);
  }

  .button[aria-expanded="true"] span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  .button[aria-expanded="true"] span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(15px, -5.5px) rotatez(45deg);
  }
</style>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();
      let isOpen = false;

      const mainContainer = document.querySelector("main");
      const button = this.querySelector("button");

      button?.addEventListener("click", () => {
        isOpen = !isOpen;

        if (isOpen) {
          button.setAttribute("aria-expanded", "true");
          mainContainer?.classList.add("is-open");
        } else {
          button.setAttribute("aria-expanded", "false");
          mainContainer?.classList.remove("is-open");
        }
      });
    }
  }

  customElements.define("menu-button", MenuButton);
</script>
