---
import Layout from "../layouts/Layout.astro";
import Squares from "../components/Squares.astro";
---

<Layout
  title="Lucas Arcanjo"
  description="My personal portfolio. I am a Software Engineer focused on front-end and specialized in React and Typescript."
>
  <main>
    <Squares density="cosy" />
    <h1 class="title">
      Hi, I am <span class="highlight">Lucas Arcanjo</span>
    </h1>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  /* .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	} */

  .title,
  .description {
    text-align: center;
  }

  .highlight {
    background: -webkit-linear-gradient(150deg, #ff0f7b, #f89b29);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
