---
import Layout from "../layouts/Layout.astro";
import Squares from "../components/Squares.astro";
import { TypingEffect } from "../components/TypingEffect";
import Menu from "../components/Menu.astro";
// import Callout from "../components/Callout.astro";
// import Skills from "../components/Skills.astro";

// import { Content as SkillsMd } from "../content/Skills.mdx";

const text = ["Software Engineer", "Frontend Expert"];
---

<Layout
  title="Lucas Arcanjo"
  description="My personal portfolio. I am a Software Engineer focused on front-end and specialized in React and Typescript."
>
  <main>
    <Squares density="cosy" />
    <h1 class="title">
      Hi, I am <span class="highlight">Lucas Arcanjo</span>
    </h1>

    <TypingEffect client:idle textList={text} />
  </main>
  <Menu />

  <!-- <Callout>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ducimus
    iste placeat ullam fuga asperiores architecto reprehenderit, mollitia
    explicabo. Aliquam, quae nulla. Doloremque tempora cupiditate corporis.
    Laborum deleniti suscipit laboriosam?
  </Callout> -->

  <!-- <Skills items={skills} /> -->
  <!-- <SkillsMd /> -->
</Layout>

<style>
  main {
    height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .title,
  .description {
    text-align: center;
  }

  .highlight {
    background: -webkit-linear-gradient(150deg, #ff0f7b, #f89b29);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
